/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {
	.believe__text {
		width: 100%;
	}
	.gallery__img {
		width: 100%;
		max-width: 269px;
	}

	.gallery-icon {
		
	}
}
/* 768-992px */
@media screen and (max-width: 992px) {	
	.believe__text {
    	font-size: 13px;
    	color: #404048;
	}
	.reasons {
		max-width: 100%;
	}
	.services__title {
		margin-top: 49px;
	}
	.service__content {
		width: 100%;
	}
	.service__icon {
		margin-bottom: 15px;
	}
	.logo__img {
		width: 220px;
	}
	.company {
		margin-bottom: 48px;
	}
	.advantage__text {
		width: 352px;
	}
	.gallery__img {
		width: 100%;
		max-width: 269px;
	}
	.gallery-icon {
		
	}
	.believe__text {
 	    width: 100%;
 	    text-align: center;
 	}
 	.feedback {
 		width: 100%;
 	}
 	.navigate {
 		padding-bottom: 33px;
 	}
}

/* 576-768px */
@media screen and (max-width: 768px) {
	.phone__btn {
		margin-top: 0;
	}
	.modal__btn {
		margin-top: 35px;
	}
	.logo__menu {
 	    width: 220px;
 	}

 	.gallery__img {
 		margin: 0 auto;
 	}
 	.gallery__overlay {
		
 	}
 	.gallery__img {
 		width: 100%;
 	}
 	.gallery {
 	    margin-bottom: 40px;
 	}
 	.map {
 		position: static;
 	}
 	.map__wrap {
 		margin: 48px auto;
 		max-width: 100%;
 	}


}
/* 320-576px */
@media screen and (max-width: 576px) {
 	.logo__menu {
 	    width: 239px
 	}
	.offer__title {
	    font-size: 40px;
	}
	.offer__text {
	    font-size: 24px;
	    width: 100%;
	}
	.reasons {
		margin: 0 auto;	
	}
	.reasons__text {
		text-align: center;	
	}
	.mission {
		flex-direction: column;
	}
	.mission__info_right {
		width: 100%;
	}
	.mission__info_left {
		width: 100%;
	}
	.sked {
		text-align: center;	
	}
	.coach {
		justify-content: center;
	}
	.coach__icon {
		justify-content: center;
	}
	.direction {
		text-align: center;	
	}
	.adress {
		text-align: center;	
	}
	.reserv {
		text-align: center;	
	}
	.logo-foot {
		text-align: center;
	}
	.submenu {
		flex-direction: column;
		text-align: center;
	}
	.submenu__item {
	    margin-bottom: 25px;
	}
	.advantage__content {
		flex-direction: column;
	}
	.advantage__text {
		width: 100%;
	}
	.merits-list__item {
		flex-direction: column;
	}
	.merits-list__icon {
		margin: 0 auto 20px;
	}
	.merits-list__title {
	    font-size: 18px;
	}
	.merits-list__content {
	    text-align: center;
	}
	.gallery__overlay {
    	left: 0; 
    	width: 100%;
    }
    .feedback {
        text-align: center;
    	padding: 23px 27px 26px 30px;
    }
    .feedback__content {
    	flex-direction: column;
    }
    .feedback__text {
    	text-align: center;
    	width: 100%;
    }
    .feedback__btn {
    	margin: 0 auto;
    	margin-bottom: 10px;
    }
    .support__text {
    	text-align: center;
    	width: 100%;
    }
    .support__title {
    	text-align: center;
    }
    .map__wrapper {
    	flex-direction: column;
    }
    .map__text {
       	margin: 10px;
    }
    .map__wrap::before {
    	background: none;
    }
    .map__title {
    	font-size: 18px;
	}
	.form {
		padding: 15px 29px 35px 31px;
		width: 100%;
		height: 100%;
		max-width: 310px;
	}
	.form__title {
		letter-spacing: 0.05em;
	}

}